
.price__menu-info{

  font-size: x-large;
  p{
    grid-area: price;
    color: #e12d2d;
  }
  i{
    grid-area: icon;

  }

}
.price__menu-info{
  display: grid;
  align-items: baseline;
  align-content: end;


  grid-template-columns: 0.1fr 0.4fr;
  grid-template-areas: " price icon";
}

@media screen and(min-width: 0) and (max-width: 1000px) {
  .price__menu-info{
    grid-template-areas: "icon price";
  }
}