
.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p{
  text-align: start;
  line-height: 1.5;
}
img{
  width: 400px;
  height: 320px;
}
.container__apartments{
  margin:0 5% 0 5%;
}
.menu__apartments:hover{
  box-shadow: 2px 4px 6px 1px rgba(0,0,0,.2);
}
.menu-info__apartments{
  grid-area: menu-info;
  border-right: 1px solid #dddfe2;
  padding-right: 10px;

}
.price__menu-info{
  grid-area: price;
}
.rate__menu-info {
  grid-area: rate;
}



.menu__apartments{
  display: grid;
  margin:5% 0 0 5%;

  grid-gap: 0 20px;
  border: 1px solid #0059ef;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-areas:
          "slider menu-info rate "
          "slider menu-info price "
}


@media only screen and (min-width: 664px) and (max-width: 1000px) {
  .menu__apartments{
    display: grid;
    margin:5% 0 0 5%;

    grid-gap: 0 20px;
    border: 1px solid #0059ef;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:
            "slider menu-info "
            "slider rate "
            "slider price"

  }
}
@media only screen and (min-width: 360px) and (max-width: 664px) {
  .menu__apartments{
    display: grid;
    //padding-right: 150px;
    margin:5% 0 0 5%;
    grid-gap: 0 20px;
    border: 1px solid #0059ef;
    grid-template-columns: 1fr ;
    grid-template-areas:
            "slider  "
            "menu-info"
            "rate "
            "price"
  }
}



