.rate__menu-info{
  display: grid;
  align-items: baseline;

  margin: 0;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: " text number";
}
.rate-text{
  font-size: large;
  grid-area: text;
}
.rate-number{
  color: white;
  font-size: large;
  background-color: #5392f9;
  position: relative;
  width: 70%;
  padding: 2px 6px 2px 6px;
  border-radius: 6px;
  grid-area: number;
}